// =============================================================================
// LUNARCSS - Horizontal Rule
// =============================================================================
// Styles for the hr element.
// =============================================================================

@use "../mixins";

// ---------------------------------------------------------------------------
// Horizontal Rule
// ---------------------------------------------------------------------------
hr {
  border: 0;
  height: var(--lunar-space-4);
  margin: var(--lunar-space-4) 0;

  @include mixins.dotted;
}
