// =============================================================================
// LUNARCSS - Samp
// =============================================================================
// Styles for sample output.
// =============================================================================

// ---------------------------------------------------------------------------
// Sample Output
// ---------------------------------------------------------------------------
samp {
  font-family: var(--lunar-font-mono);
  font-size: 0.875em;
  color: var(--lunar-muted);
}
